@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  background-color: #ffffff;
  padding: 20px; 
  display: flex;
  margin-bottom: 90px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-size: 40px; 
  text-align: center;
  width: 100%;
}

.promo-card {
  background-color: #e6e6e6;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}

.promo-image img {
  max-width: 100%;
  height: 250px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.promo-details {
  padding: 20px;
}

.promo-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.promo-button {
  background-color: #af09dd;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.promo-button:hover {
  background-color: #660171;
}
